.description a {
  color: white;
}

.about-container {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-Card {
  resize: both;

  position: absolute;
  height: 70%;
  justify-content: space-between;
  border: #fff solid 5px;
}

.description {
  margin-left: 10%;
  word-wrap: break-word;
  height: 75%;
  overflow: auto;
}
