.description a {
  color: white;
}

.about {
  background-color: #282c34;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-container {
  resize: both;
  overflow: auto;
  position: absolute;
  width: 70%;
  height: 70%;
  justify-content: space-between;
  border: #fff solid 5px;
}

.image {
  left: 0%;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #fff;
  object-fit: cover;
  margin-bottom: 4%;
}

.description {
  margin-left: 10%;
  word-wrap: break-word;
  height: 70%;
}
