.topBar-Container {
  position: relative;
  width: 95%;
  height: 50px;
  border-color: white;
  border-style: double;
  background-color: white;
}

.topBarOn-Container {
  z-index: 3;
  position: relative;
  width: 95%;
  height: 50px;
  border-color: white;
  border-style: double;
  background-color: white;
}
.menu-container {
  position: absolute;
  z-index: 3;
  height: 94%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.menu-content {
  z-index: 3;
  text-align: center;
  color: white;
  font-weight: bold;
}

p {
  margin-bottom: 100px;
}

.menu-Title {
  font-weight: bold;
  color: black;
  cursor: pointer;
  bottom: 15px;
  position: absolute;
  right: 0%;
}

.thisPage {
  display: inline-flex;
  font-weight: 900;
}

.menu-container a {
  text-decoration: none;
  color: white;
}
.menu-container a:hover {
  text-decoration: underline;
  color: white;
}

.Home-Button {
  margin-top: 10%;
}
