.topBar-Container {
  position: relative;
  width: 95%;
  height: 50px;
  
  border-color: white;
  border-style: double;
  background-color: white;
}
.menu-container {
    padding-top: 50px;
    height: 50px;
    
}

.menu-content {
    position: absolute;
    width: 105%;
    min-height: 94vh;
        
    text-align: center;
    align-items: bottom;
    

    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
    
    color: white;
    font-weight: bold;
}


p {
    margin-bottom: 100px;
}

.menu-Title {
  font-weight: bold;
  color: black;
  cursor: pointer;
  bottom: 15px;
  position: absolute;
  right: 0%;
}

a {
  text-decoration: none;
  color: white;
}

.Home-Button {
  margin-top: 10%;
}