.portfolio-container {
    background-color: #282c34;
    min-height: 94vh;
    max-height: 200vh;

    font-size: calc(10px + 2vmin);
    color: white;
}

.square-container {
    height: 200px;
    width:  400px;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease-in-out, margin 200ms ease-in-out;
}

.square-container:hover {
    cursor: pointer;
    color: orange;
    background-color: blue;
    transform: scale(1.2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10%;
    padding: 5%;


    column-gap: 50px;
    row-gap: 0;
}