.portfolio-container {
    background-color: #282c34;
    min-height: 94vh;
    max-height: 200vh;

    font-size: calc(10px + 2vmin);
    color: white;
}

.square-container {
    position: relative;
    height: 200px;
    width: 400px;
    
    color: transparent;
    background-position: center;
    background-size: cover;


    transition: transform 200ms ease-in-out, margin 200ms ease-in-out;
}

.square-text {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.square-container:hover {
    cursor: pointer;
    color: black;
    background-color: #777;
    transform: scale(1.2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10%;
    padding: 5%;


    column-gap: 0%;
    row-gap: 0;
}

.language-container {

    display: inline-block;
    padding-top: 2%;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    font-size: 30px;
    
    

}

.language {
    display: inline-block;
    border-radius: 40px;
    background-color: white;
    color: black;
    width: 25vh;
    text-align: center;
    
}
.language:hover {
    cursor: pointer;
    background-color: orangered;
}

.language-first {
    margin-left: 20%;

}